/* Start Global Rules */
body {
    font-family: 'Nunito', sans-serif;

}

.super {
    margin-top: 120px;
    /* background-image: url('./blob.svg');
    background-repeat: no-repeat;
    background-size: covere; */
}
.super::after {
    content: '';
}
/* end Global Rules */