/* Start Global Rules */
body {
    font-family: 'Nunito', sans-serif;
    background: #555

}

.container {
    background: #fff;
}

.super {
    margin: auto;
    margin-top: 70px;
    padding: 40px 60px;
    width: fit-content;
    /* background-image: url('./blob.svg');
    background-repeat: no-repeat;
    background-size: covere; */
}

/* end Global Rules */

h1 {
    font-weight: bold !important;
    font-size: 3.6rem !important;
    margin-bottom: 30px;
    line-height: 55px ;
}


.wearher-img {
    width: 330px;
}