/* Start Global Rules */
body {
    font-family: 'Nunito', sans-serif;

}

.super {
    margin-top: 120px;
    /* background-image: url('./blob.svg');
    background-repeat: no-repeat;
    background-size: covere; */
}
.super::after {
    content: '';
    background: #F7F7F7;
    width: 56%;
    height: 79%;
    position: absolute;
    left: -11%;
    top: 0;
    z-index: -1;
    transform: rotate(
35deg);
    border-radius: 28px;
}
/* end Global Rules */

h1 {
    font-weight: bold !important;
    font-size: 3.6rem !important;
    margin-bottom: 30px;
    line-height: 55px;
}